.wrapper.input {
  border-radius: 8px;
  border: 1px solid var(--strokeFirstColor);
  background: var(--whiteSecondColor);

  transition: var(--buttonTransition);
  overflow: hidden;

  &__internal {
    width: 100%;
    min-height: 42px;
    height: 100%;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
  }

  .input__clear {
    position: relative;
    padding: 0 10px;
    color: var(--greenFirstColor);
    cursor: pointer;
    opacity: .65;
    transition: var(--buttonTransition);

    &:hover {
      opacity: 1;
    }
  }

  &__attached {
    position: absolute;
    right: 10px;
  }

  &.invalid {
    border-color: var(--errorColor);
    background: var(--secondErrorColor);
  }

  &.inline {
    background: transparent;
  }
}