.wrapper.header {
  padding-left: 40px;
  min-height: fit-content;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 180px;
    height: 100%;
    background: var(--yellow);
    top: 0;
    right: 0;

    z-index: -1;

    filter: blur(100px);
  }
}
