a {
  text-decoration: none;
  color: var(--greenFirstColor);
  cursor: pointer;
}

.app-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .app-content {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;

    place-items: center;
    overflow: hidden;
    overflow-y: auto;
    color: var(--white);

    &-wrapper {
      max-width: min(100%, 780px);
      width: 100%;
      height: fit-content;

      padding: 20px;
    }
  }
}
